@{
    ViewData["Title"] = "Home Page";
}

<div>
    <figure class="text-center"><img src="~/images/home/book-main.png" /></figure>
    <article>
        <p>Сайт для проходження тестів ЗНО онлайн та підготовки майбутніх абітурієнтів для проходження зовнішнього незалежного оцінювання створений провідним українським освітнім інтернет-ресурсом.</p>
        <p>На сайті розміщені тести, що складали абітурієнти під час зовнішнього незалежного оцінювання 2009-2021 років, а також варіанти тестів, що пропонувались вступникам до вищих навчальних закладів України під час пробного зовнішнього незалежного оцінювання 2009-2020 років.</p>
        <p>Спосіб виконання всіх тестових завдань у запропонованих на сайті тестах максимально наближений до реальних тестів, а форма надання відповіді відповідає виду, що пропонується абітурієнтам у бланку відповідей під час проходження реальних тестів ЗНО.</p>
        <p>Після виконання тестових завдань кожного тесту надаються правильні відповіді на всі завдання та розраховується результат у тестових та рейтингових балах, також визначається час витрачений на виконання тесту.</p>
        <p>Для кожного предмету ви можете відкрити повний список всіх тестових завдань зовнішнього незалежного оцінювання. У цьому варіанті проходження ЗНО онлайн ви зможете отримати правильну відповідь на кожне завдання відразу після його виконання.</p>
    </article>
</div>
